        body {
            font-size: 20px;
        }
        
        h1 {
            font-size: 2rem;
        }
        
        header {
            display: flex;
            height: 30px;
            justify-content: space-between;
        }
        
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            background-color: bisque;
            margin-top: auto;
        }
        
        article {
            width: 1200px;
        }
        
        img {
            max-width: 290px;
        }
        
        .promotion {
            display: flex;
            width: 1200px;
            margin: 1% auto 20px auto;
            gap: 15px;
        }
        
        .promotionItem {
            display: flex;
            flex-grow: 1;
            align-items: center;
            background-color: aquamarine;
        }
        
        .promotionPic {
            width: 80px;
        }
        
        .recommendation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            gap: 10px;
            width: 1200px;
            margin: 20px auto;
        }
        
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: aquamarine;
        }